#root {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app {
  border: 3px solid wheat;
}
.header {
  border: 3px solid blue;
}
.navigator {
  border: 3px solid red;
}
.articles {
  border: 3px solid purple;
}
.articleList {
  border: 3px solid brown;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.articleCard {
  border: 3px solid green;
  min-width: 200px;
  max-width: 200px;
  margin: 1%;
}
.articleImg {
  max-width: 200px;
}
